#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Bluetooth {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Icons {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Uhrzeit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Add {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Item-row_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Item-row_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-star_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Item-row_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-840cc003-037d-4eca-a1c5-46e3437310f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}